<div class="pure-g">
  <div class="pure-u-1">
    <legend>JSON chat:</legend>

    <!-- chat kontejner -->
    <div id="chatWrap">
      <ul ng-repeat="msg in jchat.msgs ">
        <!-- <li><span class="chat-tstamp">{{ cmsg.timeStamp }}</span> - <span class="chat-username">{{ cmsg.username }}</span>: <span class="chat-msg">{{ cmsg.msgLine }}</span></li> -->
        <li>{{ msg.timeStamp | date:'h:mm' }} :: {{ msg.username }} : {{ msg.msgLine }}</li>
      </ul>
    </div>

    <!-- polje za unos i dugme 'posalji' -->
    <form class="pure-form" ng-submit="jchat.sndMsg()">
        <fieldset>
            <input type="text" placeholder="Unesite poruku" ng-model="jchat.msgData.msgLine">
            <button type="submit" class="pure-button pure-button-primary">Pošalji</button>
        </fieldset>
    </form>

    {{ 5 + 3}} TEST OBRISATI
  </div>
</div>
