<div class="pure-g">
  <div class="pure-u-1">
    <legend>JSON chat:</legend>

    <!-- chat kontejner -->
    <ul ng-repeat="cmsg in jchat.historyData">
      <li><span class="chat-tstamp">{{ cmsg.timeStamp }}</span> - <span class="chat-username">{{ cmsg.username }}</span>: <span class="chat-msg">{{ cmsg.msgLine }}</span></li>
    </ul>

    {{ 5 + 3}} - {{main.user.username}} - {{ jchat.historyData.username }}

    <!-- polje za unos i dugme 'posalji' -->
    <form class="pure-form" ng-submit="jchat.postMsg()">
        <fieldset>
            <input type="text" placeholder="Unesite poruku" ng-model="jchat.msgData.msgLine">
            <button type="submit" class="pure-button pure-button-primary">Pošalji</button>
        </fieldset>
    </form>

  </div>
</div>
