.container {
  margin: 0 auto;
  max-width: 920px;
}

.mkl-navbar{
  border-bottom: 1px solid black;
}

#chatWrap {
  height: 400px;
  overflow: auto;
}

.animacija-teksta.ng-enter, .animacija-teksta.ng-move {
  -webkit-transition: display .5s all;
  -moz-transition: display .5s all;
  -o-transition: display .5s all;
  transition: display .5s all;
}
